.site {
    background-color: #DDD;
    width: 100%;
    padding: 20px;
}

.postTitleInput {
    width: 250px;
}

.imageDrop {
    width: 250px;
    height: 150px;
    border: 5px solid #555;
    border-style: dashed;
}

.contentEditDiv {
}

.dragover {
    border-color: #bc381a;
}
